@charset "UTF-8";
/* ////////////////////////// */
.slider-2 {
  width: 100%;
  height: 510px;
  position: relative;
}
.slider-2 img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider-2 img:first-child {
  z-index: 1;
}
.slider-2 img:nth-child(2) {
  z-index: 0;
}
.navigation-button-2 {
  text-align: center;
  position: relative;
}
.dot-2 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active-2,
.dot-2:hover {
  background-color: lightblue;
}
.slideshow-container-2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides-2 {
  display: none;
}
.prev-2,
.next-2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #4169e1;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next-2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-2{
  left: 0;
}
.prev-2:hover,
.next-2:hover {
  background-color: lightblue;
}
.fade-2 {
  animation-name: fade-2;
  animation-duration: 1.5s;
}
@keyframes fade-2 {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
.slider {
  width: 100%;
  height: 510px;
  position: relative;
}
.slider img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  /* transition: all 0.5s ease-in-out; */
}
.slider img:first-child {
  z-index: 1;
}
.slider img:nth-child(2) {
  z-index: 0;
}
.navigation-button {
  text-align: center;
  position: relative;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: lightblue;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #4169e1;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
}
.prev:hover,
.next:hover {
  background-color: lightblue;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  /* Adjust the height as per your design */
}
.sitemap {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sitemap li {
  margin-right: 10px;
}
.sitemap li:last-child {
  margin-right: 0;
}
.box-shadow {
  box-shadow: 0px 15px 10px -15px #111;
}
.content1-card.highlighted-parent {
  border: 2px solid #ff0000;
  /* Update the border style as needed */
}
.content1-card.highlight-border {
  border: 2px solid #ff0000;
  /* Update the border style as needed */
}
.highlight-border {
  border: 2px solid #ff0000;
  /* Replace with your desired border style */
}
/*  */
.search-box {
  float: left;
  margin-top: 2%;
  margin-left: 1%;
}
.hidden {
  display: none;
}
li {
  list-style: none;
}
.highlight {
  background-color: yellow;
}
.header-fixed ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header-fixed li a {
  display: block;
  margin-top: 20px;
  padding-left: 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
}
.header-fixed li a:hover,
.header-fixed .menu-btn:hover {
  background-color: #f4f4f4;
}
.header-fixed .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header-fixed .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header-fixed .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: ease-out .2s;
  width: 18px;
}
.header-fixed .menu-icon .navicon:before,
.header-fixed .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header-fixed .menu-icon .navicon:before {
  top: 5px;
}
.header-fixed .menu-icon .navicon:after {
  top: -5px;
}
.header-fixed {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* menu btn */
.header-fixed .menu-btn {
  display: none;
}
.header-fixed .menu-btn:checked~.menu {
  max-height: fit-content;
}
.header-fixed .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}
.header-fixed .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header-fixed .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header-fixed .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header-fixed .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 992px) {
  .header-fixed li {
    float: left;
  }
  .header-fixed li a {
    padding: 20px 30px;
  }
  .header-fixed .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header-fixed .menu-icon {
    display: none;
  }
}
#video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overall {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
footer,
header,
nav,
section {
  display: block;
  padding-top: 100px;
}
body {
  font-family: Tahoma;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14pt;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
  border-radius: 5%;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
input {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.col-md-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
.col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
@media (min-width: 992px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin: auto;
  }
  .col-md-4 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    margin: auto;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: auto;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 33%;
    max-width: 33%;
    margin: auto;
  }
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 0.3rem;
  overflow: hidden;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-image: linear-gradient(0.25turn, #4169e1, #b80f0a);
  width: 0%;
}
.text-justify {
  text-align: justify !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}
.font-weight-normal {
  font-weight: 400 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #000000;
}
p {
  font-size: calc(15px + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
  font-weight: 100;
  opacity: 1;
  color: #111;
  letter-spacing: .6px;
}
.title {
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
}
.content2-card {
  position: relative;
  min-height: 230px;
  border: 1px solid #dee2e6;
  overflow: hidden;
  border-radius: 3px;
}
.content2-card .body {
  padding: 10px;
}
.content2-card .body img.icon {
  margin-top: 40px;
  width: 50px;
  height: auto;
  margin-bottom: 25px;
  transition: all, 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .content2-card .body img.icon {
    transition: none;
  }
}
.content2-card .body .subtitle {
  position: absolute;
  bottom: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all, 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .content2-card .body .subtitle {
    transition: none;
  }
}
.content2-card:hover .body img.icon {
  margin-top: 5px;
  width: 45px;
  height: auto;
  margin-bottom: 15px;
}
.content2-card:hover .body .subtitle {
  bottom: 7px;
  opacity: 1;
  visibility: visible;
}
.content1-card {
  display: block;
  position: relative;
  overflow: hidden;
}
.content1-card .content1-card-img {
  width: 100%;
}
.content1-card .content1-card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  background-image: linear-gradient(to top, #e1dfed 0%, rgba(225, 223, 237, 0.7) 99%, rgba(225, 223, 237, 0.8) 100%);
  transition: all, 0.3s;
  width: 0;
  height: 0;
  border-radius: 50%;
  overflow: hidden;
}
@media (prefers-reduced-motion: reduce) {
  .content1-card .content1-card-overlay {
    transition: none;
  }
}
.content1-card .content1-card-overlay .content1-card-caption {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.content1-card:hover .content1-card-overlay {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
@media (max-width: 767.98px) {
  .content1-card {
    margin-bottom: 30px;
  }
  .content2-card {
    margin-bottom: 30px;
  }
}
.content3-card {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-bottom: 30px;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0px 15px 10px -15px #111;
  padding-top: 12%;
}
.content3-card-header {
  min-width: 350px;
  max-width: 350px;
  margin-bottom: 15px;
}
.content3-card-img {
  border-radius: 0 0 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.content3-card-body {
  padding: 30px 20px 30px 30px;
}
.content3-card-title {
  font-weight: 100;
}
.content3-card-caption {
  margin: 15px 0 15px !important;
}
.content3-card-caption i {
  display: inline-block;
  width: 15px;
}
@media (max-width: 991.98px) {
  .content3-card {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content3-card .content3-card-header {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
.footer {
  display: flex;
  min-height: 70px;
  border-top: 1px solid #dee2e6;
  -ms-flex-align: center;
  align-items: center;
}
.footer a,
.footer p {
  color: #393e46;
  padding: 4px 0;
  display: inline-block;
  margin: 0;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 15px 0;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../imgs/datacenter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #fff 0%, rgb(90 162 166 / 35%) 99%, rgb(164 190 191) 100%);
}
.header .header-content {
  margin-top: 20px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 550px;
}
.header-title {
  font-size: 4.8rem;
  opacity: .8;
  color: #212529;
}
@media (max-width: 991.98px) {
  .header {
    background-size: cover;
  }
  .header-content {
    padding-left: calc(100% / 5) !important;
  }
}
.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  box-shadow: 0px 10px 10px -15px #111;
}
.about-img-holder {
  min-width: 400px;
  max-width: 400px;
  margin-right: 20px;
}
.about-img-holder .about-img {
  width: 100%;
  margin-bottom: 15px;
}
.about-caption {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 767.98px) {
  .about {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .about-img-holder {
    max-width: 220px;
    min-width: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
}
.section {
  padding: 100px;
}
